.dish-card{
  padding: 10px;
  background-color: white;
  position: relative;
  z-index: -2;
  height: 270px;
  width: 230px;
  margin-bottom: 20px;
  .gradient-img{
    margin-top: 10px;
    height:150px;
  }
  .dish-title{
    position: relative;
    bottom: 60px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 110%;
  }
  .thumbnail-pic{
    height:50px;
    width:50px;
  }
  .myrow{
    position: relative;
    bottom: 57px;
    p{
      padding-left:8px;
    }
  }
  .truncate{
    position: relative;
    top: -65px;
    background-color:whitesmoke;
    i{
      position: relative;
      top: 4px;
    }
  }
}

.gradient-img {
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  overflow:hidden;
  img{
    position: relative;
    z-index: -1;
    display: block;
  }
}

.thumbnail-pic{
  background-color:blue;
  border-radius: 50%;
  overflow: hidden;
  img{
    height:100%;
    width:auto;
  }
}

.card-explore{
  padding:8px;
  .thumbnail-pic{
  height:80px;
  width:80px;
  }
  .name{
    position: relative;
    left: -80;
    top: 15px;
  }
  .star-card{
    position: relative;
    left: 10px;
    top: 6px;
  }
}

