.category{
  padding-top:8px;
  padding-bottom:5px;
  position: fixed;
  width: 15%;
  top: 160px;
  z-index:198;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
  .myrow{
    flex-wrap:wrap;
  }
}

.stars-card{
  .material-icons{
    font-size:24px;
    @media only screen and (max-width: 1100px) {
      font-size:18px;
    }
    @media only screen and (min-width: 800px) {
      font-size:16px;
    }
  }
}

.intro{
  height:105px;
  position:fixed;
  z-index:199;
  top:55px;
  width:100%;
  padding-top:40px;
  padding-left:10vw;
  @media only screen and (max-width: 400px) {
    top: 55px;
    width: 100%;
    padding: 18px;
  }

}

.map{
  width:50%;
  height: 100%;
  top: 160px;
  @media only screen and (max-width: 800px) {
    width: 50%;
    left:0;
  }
  @media only screen and (max-width: 600px) {
    display:none;
  }
}

.results{
  width: 50%;
  position: absolute;
  top: 340px;
  left: 50%;
  @media only screen and (max-width: 800px) {
    width: 50%;
    left:50%;
  }
  @media only screen and (max-width: 600px) {
    width:80%;
    height: 1000px;
    position:relative;
    top: 195px;
    left:0;
    align-self: center;
  }
}

.category-btn{
  width: 50px;
  margin:auto;
  padding:4px;
  margin-top:5px;
  @media only screen and (max-width: 600px) {
    width: 40px;
  }
}

nav{
  position:fixed;
}

.top-10-px{
  margin-top:10px;
}
