nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  box-shadow: none!important;
  height: 55px;
  position:relative;
  z-index:200;
  img{
    height: 90px;
    margin-left: 30px;
    margin-top: 30px;
    @media only screen and (max-width: 400px) {
    height: 70px;
    margin-left: 15px;
    margin-top: 15px;
  }
  }
  a{
    i{
      padding-right:2vw;
    }
  }
  input[type=search]{
    padding-left: 10px;
    height: 35px;
    align-self: center;
  }
  #search{
    width:25vw;
  }
  #place{
    width:18vw;
  }
}
.myrow{
  display: flex;
  flex-direction: row;
}








