body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f2ede4;
}

.bienvenida{
  width:60vw;
  @media only screen and (max-width: 700px) {
    width: 85vw;
  }
}

.mitad{
  width:50%;
  @media only screen and (max-width: 700px) {
    width: 100%;
  }
}







