.index{
  .half{
    width: 50vw;
    height:100vh;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .logo{
    width:150px;
    @media only screen and (max-width: 600px) {
      width: 100px;
    }
  }
}
.responsive-img-h{
  height:100%;
  width:auto;

}

.pattern{
  background-image: url('../../images/examples/pattern.svg')
}


.align-self-right{
  align-self:right;
}

.margin-cero{
  margin: 0;
}
