html {
  height: 100%;
  box-sizing: border-box;
  color:#606060;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin-top:60px;
  margin: 0;
  min-height: 100%;
}

.mycontainer {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

.rest-card{
  background-color: white;
  position: relative;
  z-index: -2;
  height: 270px;
  width: 300px;
  margin-bottom: 20px;
  .gradient-img{
    height:120px;
  }
  p{
    padding: 10px;
    padding-top: 0;
  }
  .thumbnail-pic{
    height:130px;
    width:130px;
    margin: auto;
    margin-top: -80px;
    margin-bottom: -15px;
  }
  .myrow{
    position: relative;
    bottom: 100px;
    .truncate{
      position: relative;
      bottom: -50px;
      i{
        position: relative;
        top: 4px;
      }
    }
  }
  .center{
    i{
      position:relative;
      bottom:62px;
    }
  }
  @media only screen and (max-width: 600px) {
    height:250px;
  }
}

