.mega-title{
  font-size: 44px;
  @media (max-width: 400px) {
    font-size: 30px;
  }
  @media (min-width: 1200px) {
    font-size: 50px;
  }
}

.bigger-title{
  font-size: 40px;
  @media (max-width: 400px) {
    font-size: 35px;
  }
  @media (min-width: 1200px) {
    font-size: 45px;
  }
}

.big-title{
  font-size: 30px;
  @media (max-width: 400px) {
    font-size: 25px;
  }
  @media (min-width: 1200px) {
    font-size: 40px;
  }
}

.medium-title{
  font-size: 24px;
  @media (max-width: 400px) {
    font-size: 20px;
  }
  @media (min-width: 1200px) {
    font-size: 28px;
  }
}

.title{
  font-size: 18px;
  @media (max-width: 400px) {
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

.subtitle{
  font-size: 14px;
  @media (max-width: 400px) {
    font-size: 13px;
  }
  @media (min-width: 1200px) {
    font-size: 16px;
  }
}

.information-text{
  font-size: 11px;
  @media (max-width: 400px) {
    font-size: 10px;
  }
  @media (min-width: 1200px) {
    font-size: 12px;
  }
}

.description-text{
  font-size: 9px;
  @media (max-width: 400px) {
    font-size: 8px;
  }
  @media (min-width: 1200px) {
    font-size: 10px;
  }
}


.r-thin{
  font-family: "Roboto Thin";
}

.r-bold{
  font-family: "Roboto Bold";
}

.r-light{
  font-family: "Roboto Light";
}

.r-medium{
  font-family: "Roboto Medium";
}

.grey-light-text{
  color:#848484;
}

.grey-medium-text{
  color:#606060;
}

.grey-dark-text{
  color:#212121;
}

html{
 color:#212121;
}
