footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.1rem; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  height: 55px;
  position: relative;
  z-index: 200; }
  nav img {
    height: 90px;
    margin-left: 30px;
    margin-top: 30px; }
    @media only screen and (max-width: 400px) {
      nav img {
        height: 70px;
        margin-left: 15px;
        margin-top: 15px; } }
  nav a i {
    padding-right: 2vw; }
  nav input[type=search] {
    padding-left: 10px;
    height: 35px;
    -ms-flex-item-align: center;
        align-self: center; }
  nav #search {
    width: 25vw; }
  nav #place {
    width: 18vw; }

.myrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.user-banner {
  height: 200px;
  width: 100%; }
  .user-banner img {
    width: 100%; }

.user .thumbnail-pic {
  height: 150px;
  width: 150px;
  margin-top: -15vh; }

.index .half {
  width: 50vw;
  height: 100vh; }
  @media only screen and (max-width: 600px) {
    .index .half {
      width: 100%; } }
.index .logo {
  width: 150px; }
  @media only screen and (max-width: 600px) {
    .index .logo {
      width: 100px; } }

.responsive-img-h {
  height: 100%;
  width: auto; }

.pattern {
  background-image: url("../../images/examples/pattern.svg"); }

.align-self-right {
  -ms-flex-item-align: right;
      align-self: right; }

.margin-cero {
  margin: 0; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2ede4; }

.bienvenida {
  width: 60vw; }
  @media only screen and (max-width: 700px) {
    .bienvenida {
      width: 85vw; } }

.mitad {
  width: 50%; }
  @media only screen and (max-width: 700px) {
    .mitad {
      width: 100%; } }

.mega-title {
  font-size: 44px; }
  @media (max-width: 400px) {
    .mega-title {
      font-size: 30px; } }
  @media (min-width: 1200px) {
    .mega-title {
      font-size: 50px; } }

.bigger-title {
  font-size: 40px; }
  @media (max-width: 400px) {
    .bigger-title {
      font-size: 35px; } }
  @media (min-width: 1200px) {
    .bigger-title {
      font-size: 45px; } }

.big-title {
  font-size: 30px; }
  @media (max-width: 400px) {
    .big-title {
      font-size: 25px; } }
  @media (min-width: 1200px) {
    .big-title {
      font-size: 40px; } }

.medium-title {
  font-size: 24px; }
  @media (max-width: 400px) {
    .medium-title {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .medium-title {
      font-size: 28px; } }

.title {
  font-size: 18px; }
  @media (max-width: 400px) {
    .title {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    .title {
      font-size: 22px; } }

.subtitle {
  font-size: 14px; }
  @media (max-width: 400px) {
    .subtitle {
      font-size: 13px; } }
  @media (min-width: 1200px) {
    .subtitle {
      font-size: 16px; } }

.information-text {
  font-size: 11px; }
  @media (max-width: 400px) {
    .information-text {
      font-size: 10px; } }
  @media (min-width: 1200px) {
    .information-text {
      font-size: 12px; } }

.description-text {
  font-size: 9px; }
  @media (max-width: 400px) {
    .description-text {
      font-size: 8px; } }
  @media (min-width: 1200px) {
    .description-text {
      font-size: 10px; } }

.r-thin {
  font-family: "Roboto Thin"; }

.r-bold {
  font-family: "Roboto Bold"; }

.r-light {
  font-family: "Roboto Light"; }

.r-medium {
  font-family: "Roboto Medium"; }

.grey-light-text {
  color: #848484; }

.grey-medium-text {
  color: #606060; }

.grey-dark-text {
  color: #212121; }

html {
  color: #212121; }

.dish-card {
  padding: 10px;
  background-color: white;
  position: relative;
  z-index: -2;
  height: 270px;
  width: 230px;
  margin-bottom: 20px; }
  .dish-card .gradient-img {
    margin-top: 10px;
    height: 150px; }
  .dish-card .dish-title {
    position: relative;
    bottom: 60px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 110%; }
  .dish-card .thumbnail-pic {
    height: 50px;
    width: 50px; }
  .dish-card .myrow {
    position: relative;
    bottom: 57px; }
    .dish-card .myrow p {
      padding-left: 8px; }
  .dish-card .truncate {
    position: relative;
    top: -65px;
    background-color: whitesmoke; }
    .dish-card .truncate i {
      position: relative;
      top: 4px; }

.gradient-img {
  display: inline-block;
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  overflow: hidden; }
  .gradient-img img {
    position: relative;
    z-index: -1;
    display: block; }

.thumbnail-pic {
  background-color: blue;
  border-radius: 50%;
  overflow: hidden; }
  .thumbnail-pic img {
    height: 100%;
    width: auto; }

.card-explore {
  padding: 8px; }
  .card-explore .thumbnail-pic {
    height: 80px;
    width: 80px; }
  .card-explore .name {
    position: relative;
    left: -80;
    top: 15px; }
  .card-explore .star-card {
    position: relative;
    left: 10px;
    top: 6px; }

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #606060; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  position: relative;
  margin-top: 60px;
  margin: 0;
  min-height: 100%; }

.mycontainer {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width: 601px) {
  .container {
    width: 80%; } }
@media only screen and (min-width: 993px) {
  .container {
    width: 85%; } }
.rest-card {
  background-color: white;
  position: relative;
  z-index: -2;
  height: 270px;
  width: 300px;
  margin-bottom: 20px; }
  .rest-card .gradient-img {
    height: 120px; }
  .rest-card p {
    padding: 10px;
    padding-top: 0; }
  .rest-card .thumbnail-pic {
    height: 130px;
    width: 130px;
    margin: auto;
    margin-top: -80px;
    margin-bottom: -15px; }
  .rest-card .myrow {
    position: relative;
    bottom: 100px; }
    .rest-card .myrow .truncate {
      position: relative;
      bottom: -50px; }
      .rest-card .myrow .truncate i {
        position: relative;
        top: 4px; }
  .rest-card .center i {
    position: relative;
    bottom: 62px; }
  @media only screen and (max-width: 600px) {
    .rest-card {
      height: 250px; } }

.category {
  padding-top: 8px;
  padding-bottom: 5px;
  position: fixed;
  width: 15%;
  top: 160px;
  z-index: 198;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media only screen and (max-width: 800px) {
    .category {
      width: 100%; } }
  .category .myrow {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.stars-card .material-icons {
  font-size: 24px; }
  @media only screen and (max-width: 1100px) {
    .stars-card .material-icons {
      font-size: 18px; } }
  @media only screen and (min-width: 800px) {
    .stars-card .material-icons {
      font-size: 16px; } }

.intro {
  height: 105px;
  position: fixed;
  z-index: 199;
  top: 55px;
  width: 100%;
  padding-top: 40px;
  padding-left: 10vw; }
  @media only screen and (max-width: 400px) {
    .intro {
      top: 55px;
      width: 100%;
      padding: 18px; } }

.map {
  width: 50%;
  height: 100%;
  top: 160px; }
  @media only screen and (max-width: 800px) {
    .map {
      width: 50%;
      left: 0; } }
  @media only screen and (max-width: 600px) {
    .map {
      display: none; } }

.results {
  width: 50%;
  position: absolute;
  top: 340px;
  left: 50%; }
  @media only screen and (max-width: 800px) {
    .results {
      width: 50%;
      left: 50%; } }
  @media only screen and (max-width: 600px) {
    .results {
      width: 80%;
      height: 1000px;
      position: relative;
      top: 195px;
      left: 0;
      -ms-flex-item-align: center;
          align-self: center; } }

.category-btn {
  width: 50px;
  margin: auto;
  padding: 4px;
  margin-top: 5px; }
  @media only screen and (max-width: 600px) {
    .category-btn {
      width: 40px; } }

nav {
  position: fixed; }

.top-10-px {
  margin-top: 10px; }

/*# sourceMappingURL=main.css.map */