nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
  font-size: 32px;
}
/*
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],*/
input[type=search],
textarea.materialize-textarea {
  background-color: white;
  border: none;
  border-bottom: none;
  border-radius: 40px;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 0 0;
  padding-left:10px;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}
/*
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
  border-bottom: none;
  box-sizing:border-box;
}
input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: none;
    border-radius: 40px;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 0 0;
    padding: 10px;
    box-shadow: none;
    box-sizing: border-box;
    transition: all 0.3s;


*/
