{% load staticfiles %}
<div class="dish-card z-depth-1">
  <div class="gradient-img">
    <img src="{% static 'images/examples/food.png' %}" class="responsive-img" >
    </div>
  <p class="subtitle dish-title white-text">Pizza napolitana con queso mozarella y pernil </p>
  <div class="myrow">
    <div class="thumbnail-pic">
      <img src="{% static 'images/examples/food.png' %}">
    </div>
  <p class="">
    El Budare de Tía Juana
  </p>
  </div>
  <p class="information-text truncate">
    <i class="md-18 red-text material-icons">location_on</i> Maracaibo, La paraguita II. Estado Zulia. Av 15 con calle 58.</p>
</div>
