{% load staticfiles %}
<div id="login" class="modal" style="width:60vw;padding-top:20px;">
  <center>
    <div class="container modal-content">
      <h3 class="red-text">
        Iniciar sesión
      </h3>
      <form>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Correo electrónico</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Contraseña</label>
          </div>
        </div>
       <a href="{% url 'home' %}" class="waves-effect hoverable waves-light red btn">ENTRAR</a>
      </form>
    </div>

    <p>
      <a href="#registration_user" class="modal-close">No tengo cuenta aún</a>
    </p>
  </center>
</div>
