{% load staticfiles %}
<nav class="red white-text">
  <div>
    <img src="{% static 'images/logo_nav.svg' %}" alt="RestFood">
  </div>
  <div class="myrow hide-on-small-only">
    <input class="white grey-text" id="search" type="search" placeholder="Pizza, pollo, sushi...">
    <label class="label-icon" for="search"></label><i class=" small material-icons">search</i>
    <input class="white grey-text" id="place" type="search" placeholder="Maracaibo">
    <label class="label-icon" for="place"></label><i class="small material-icons white-text">location_on</i>
  </div>
  <div class="myrow">
    <a href="{% url 'explore' %}"><i class="md-48 material-icons white-text">explore</i></a>
    <a href="{% url 'home' %}"><i class="md-48 material-icons white-text">home</i></a>
    <a href="#login"><i class="md-48 material-icons white-text">person</i></a>
  </div>
</nav>
