{% load staticfiles %}
<div id="registration_restaurant" class="modal" style="width:60vw;padding-top:20px;">
  <center>
    <div class="container modal-content">
      <h3 class="red-text">
        Registro de restaurante
      </h3>
      <form>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="name" type="text" class="validate">
            <label for="name">Nombre del sitio</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="tel" type="tel" class="validate">
            <label for="tel">Número de contacto</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="number" type="number" class="validate">
            <label for="number">RIF</label>
          </div>
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Correo electrónico</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="password" type="password" class="validate">
            <label for="password">Contraseña</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="password_confirm" type="password" class="validate">
            <label for="password_confirm">Repita contraseña</label>
          </div>
        </div>
        <button class="waves-effect hoverable waves-light red btn" type="submit" name="action">REGISTRAR
        </button>
      </form>
      <p>
      <a href="#login" class="modal-close">Ya tengo cuenta</a>
    </p>
    </div>
  </center>
</div>
