{% load staticfiles %}
<div id="registration_user" class="modal" style="width:60vw;padding-top:20px;">
  <center>
    <div class="container modal-content">
      <h3 class="red-text">
        Registrarme
      </h3>
      <form>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="name" type="text" class="validate">
            <label for="name">Nombre</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="lastnamename" type="text" class="validate">
            <label for="lastname">Apellido</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Correo electrónico</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="password" type="password" class="validate">
            <label for="password">Contraseña</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="password_confirm" type="password" class="validate">
            <label for="password_confirm">Repita contraseña</label>
          </div>
          <div class="input-field col s8 push-s2">
            <h3 class="title r-light ">
              Selecciona tu ciudad
            </h3>
            <select>
              <option value="" disabled selected>Despliega la lista</option>
              <option value="1">Caracas</option>
              <option value="2">Maracaibo</option>
              <option value="3">Mérida</option>
            </select>
          </div>
        </div>
        <button class="waves-effect hoverable waves-light red btn" type="submit" name="action">REGISTRAR
        </button>
      </form>
      <a href="#login" class="modal-close">Ya tengo cuenta</a>
      <p>
      <a href="#registration_restaurant" class="modal-close grey-text">Registrar un restaurante</a>
    </p>
    </div>
  </center>
</div>
