{% load staticfiles %}
<div class="rest-card z-depth-1">
  <div class="gradient-img">
    <img src="{% static 'images/examples/food.png' %}" class="responsive-img" >
  </div>
  <div class="thumbnail-pic z-depth-1">
    <img src="{% static 'images/examples/food.png' %}">
  </div>
  <p class="title center truncate">
    El Budare de Tía Juana
  </p>
  <div class="myrow">
    <p class="information-text truncate">
      <i class="md-18 red-text material-icons">location_on</i>
      Maracaibo, La paraguita II. Estado Zulia. Av 15
      con calle 58.</p>
  </div>
  <div class="center">
    <i class="md-14 yellow-text text-darken-3 material-icons">star</i>
    <i class="md-14 yellow-text text-darken-3 material-icons">star</i>
    <i class="md-14 yellow-text text-darken-3 material-icons">star</i>
    <i class="md-14 yellow-text text-darken-3 outline material-icons">star</i>
    <i class="md-14 yellow-text text-darken-3 outline material-icons">star</i>
  </div>
</div>

