{% load staticfiles %}
<div class="row white  z-depth-2 card-explore">
  <div class="myrow">
    <div class="thumbnail-pic" id="restaurant_profilepic">
      <img src="{% static 'images/examples/food.png' %}">
    </div>
    <div class="stars-card" id="restaurant_calification">
      <i class="md-14 yellow-text text-darken-3 material-icons">star</i>
      <i class="md-14 yellow-text text-darken-3 material-icons">star</i>
      <i class="md-14 yellow-text text-darken-3 material-icons">star</i>
      <i class="md-14 yellow-text text-darken-3 outline material-icons">star</i>
      <i class="md-14 yellow-text text-darken-3 outline material-icons">star</i>
    </div>
    <h4 class="name title" id="restaurant_name">
      El budare de Juanita
    </h4>
  </div>
  <div class="col s12" id="restaurant_description">
    Somos la mejor opción en parrillas y guacamole de la ciudad
  </div>
  <div class="col s12" id="restaurant_description">
    <i class="small red-text material-icons">place</i>
    Urb. La coromoto, en frente de La paila Matea hedionda
  </div>
</div>
