{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:30vh;">
  <div class="row">
    <div class="col s12 z-depth-3">
      <h1 class="mega-title r-thin red-text">
        Somos tu ventana a la web
      </h1>
      <div class="r-light title grey-text">
        Sigue a los desarrolladores en Github.
        <row>
          <h3 class="title r-bold">
            @charlyjazz
          </h3>
        </row>
        <row>
          <h3 class="title r-bold">
            @katholover
          </h3>
        </row>
      </div>
    </div>
  </div>

  {% endblock content %}
