{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Aplicación web para restaurantes y amantes de la comida">
    <meta name="keywords" content="restaurantes, restaurante, venezuela"> <!--agregar nombre de ciudades y estados-->
    <meta name="author" content="Katherine Rangel, Carlos Zambrano">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/mycss.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">

    <title>RestFood</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
  </head>
  <body>

    {% include 'partials/nav.html' %}
    {% block content %}

    {% endblock %}
    {% include 'partials/login.html' %}
    {% include 'partials/registration_user.html' %}
    {% include 'partials/registration_restaurant.html' %}

    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'materialize/js/bin/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'owlcarousel/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'owlcarousel/myconfig.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN3fb6LVfdeLmAaqUshd_1UWVy0FWmH3o"></script>
    <script>
      // In the following example, markers appear when the user clicks on the map.
      // Each marker is labeled with a single alphabetical character.
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;

      function initialize() {
        var bangalore = { lat: 12.97, lng: 77.59 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: bangalore
        });

        // This event listener calls addMarker() when the map is clicked.
        google.maps.event.addListener(map, 'click', function(event) {
          addMarker(event.latLng, map);
        });

        google.maps.event.addListener(map, 'dblclick', function(event) {
          addMarker(event.latLng, map);
        });

        /* Add a marker at the center of the map.
        addMarker(bangalore, map);*/
      }

      // Adds a marker to the map.
      function addMarker(location, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        var marker = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: map
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script>
      $(document).ready(function(){
        $('ul.tabs').tabs();
      });
      $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
      });
    </script>
    {% include 'partials/footer.html' %}
  </body>
</html>
