{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top:30vh;">
  <div class="row">
    <div class="col s12 z-depth-3">
      <h1 class="mega-title r-thin red-text">
        ¡En buena hora!
      </h1>
      <div class="r-light title grey-text">
        Se ha confirmado tu registro. Disfruta navegando por tu nuevo sitio favorito.
        <p>
          Comienza <a href="{% url 'user_profile' %}">editando tu perfil</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
