{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="intro title r-ligth white">
  Encuentra tu restaurante favorito, mira su perfil, su menú, comenta, califica y más
</div>
<div class="category white z-depth-1">
  <div class="container">
    <div class="center hide-on-med-and-down">
      FILTROS
    </div>
    <center>
        A partir de:

      <div class="stars-card">
        <i class="md-14 yellow-text text-darken-3 material-icons">star</i>
        <i class="md-14 yellow-text text-darken-3 material-icons">star</i>
        <i class="md-14 yellow-text text-darken-3 material-icons">star</i>
        <i class="md-14 yellow-text text-darken-3 outline material-icons">star</i>
        <i class="md-14 yellow-text text-darken-3 outline material-icons">star</i>
      </div>

    </center>
    <!--           estrellas -->
<div class="divider">

    </div>
    <div class="center hide-on-med-and-down top-10-px">
      CATEGORÍAS
    </div>
    <div class="myrow">
      <div class="category-btn">
        <img src="{%static 'images/icons/icon_bar.svg'%}">
      </div>
      <div class="category-btn">
        <img src="{%static 'images/icons/icon_cafeteria.svg'%}">
      </div>
      <div class="category-btn">
        <img src="{%static 'images/icons/icon_fastfood.svg'%}">
      </div>
      <div class="category-btn">
        <img src="{%static 'images/icons/icon_gourmet.svg'%}">
      </div>
      <div class="category-btn">
        <img src="{%static 'images/icons/icon_heladeria.svg'%}">
      </div>
      <div class="category-btn">
        <img src="{%static 'images/icons/icon_panaderia.svg'%}">
      </div>
    </div>
  </div>
</div>
<div class="map" id="map">

</div>
<div class="results">
  <div class="container">
{% include 'partials/restaurant_explore.html' %}
  </div>
</div>


{% endblock content %}
