{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="mycontainer">
  <h1 class="big-title r-light bienvenida">
    Con <span class="red-text r-bold mega-title">RestFood</span> elige a dónde ir, disfruta tu plato y cuéntanos tu experiencia</h1>
  <div class="divider">
  </div>
      <h4 class="title r-bold">
      Platos destacados de la semana
      </h4>

    <div class="owl-carousel m8">
        <div class="item">
          {% include 'partials/dish.html' %}
        </div>
        <div class="item">
          {% include 'partials/dish.html' %}
        </div>
        <div class="item">
          {% include 'partials/dish.html' %}
        </div>
        <div class="item">
          {% include 'partials/dish.html' %}
        </div>
        <div class="item">
          {% include 'partials/dish.html' %}
        </div>
      </div>
  <div class="divider">
  </div>
    <h4 class="big-title">
    Lugares en donde pasarla bien
    </h4>

    <p class="subtitle">
      Tu próximo encuentro con foodies podría ser aquí:
    </p>
    <div class="mitad">
      <div class="owl-carousel">
        <div class="item">
          {% include 'partials/restaurant.html' %}
        </div>
        <div class="item">
          {% include 'partials/restaurant.html' %}
        </div>
        <div class="item">
          {% include 'partials/restaurant.html' %}
        </div>
        <div class="item">
          {% include 'partials/restaurant.html' %}
        </div>
        <div class="item">
          {% include 'partials/restaurant.html' %}
        </div>
      </div>
    </div>
 <div>
    <h2 class="center big-title r-bold">
      Sigue las novedades de tus restaurantes favoritos y consigue a otros amantes de la comida, uniéndote ya
    </h2>
  </div>
</div>

{% endblock content %}
