{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Aplicación web para restaurantes y amantes de la comida">
    <meta name="keywords" content="restaurantes, restaurante, venezuela"> <!--agregar nombre de ciudades y estados-->
    <meta name="author" content="Katherine Rangel, Carlos Zambrano">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/mycss.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">

    <title>RestFood</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  </head>
  <body class="white index pattern">

    <div class="half white align-self-right">
      <div class="container center">
        <div class="row right-align">
          <a href="#login">Registrarme o Iniciar Sesión</a>
        </div>
        <div class="row">
          <div>
            <img src="{% static 'images/logo_nav.svg' %}" class="logo">
          </div>
          <h1 class="red-text bigger-title r-bold margin-cero">
            RestFood
          </h1>
          <h2 class="col l8 push-l2 medium-title r-light">
            El lugar de encuentro de los <span class="red-text">foodies</span> y restaurantes
          </h2>
          <div class="input-field col s8 push-s2">
            <h3 class="title r-light ">
              Selecciona tu ciudad
            </h3>
            <select>
              <option value="" disabled selected>Despliega la lista</option>
              <option value="1">Caracas</option>
              <option value="2">Maracaibo</option>
              <option value="3">Mérida</option>
            </select>
            <a href="{% url 'explore' %}" class="waves-effect hoverable waves-light red btn">BUSCAR</a>
          </div>
        </div>
      </div>
    </div>
    {% include 'partials/login.html' %}
    {% include 'partials/registration_user.html' %}
    {% include 'partials/registration_restaurant.html' %}

    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'materialize/js/bin/materialize.min.js' %}"></script>
    <script>

      $(document).ready(function() {
        $('select').material_select();
      });

      $(document).ready(function(){
        $('.collapsible').collapsible();
      });

      $(document).ready(function(){
        $('.modal').modal();
      });
    </script>

    {% include 'partials/footer.html' %}
  </body>
</html>
