{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div>
  <!--encabezado-->
    <div class="user-banner"><!--Foto de portada--></div>
    <div><!--Foto de perfil--></div>
    <h1 class="big-title">
      <!--Full name del restaurante-->
      La Paila de la buena Maita
    </h1>
    <h2 class="title">
      <!--Eslogan del sitio-->
      ¡Donde está el buen sabor de Vanezuela, ardiendo en tu paladar!
    </h2>
    <p class="subtitle">
      <!--Introducción-->
      Somos tu opción favorita en carnes, pollos, y cosas sabrosas. Yummy, vente pa'cá y degusta lo bueno de Venezuela en un lugar
    </p>
    <div>
      <!--otras redes del restaurante-->

    </div>
    <div>
    <!--Puntuación en estrellas-->
    </div>
    <div>
    <!--Le gusta a *#* personas-->
      <p class="">
        A 123 personas le gusta este lugar
      </p>
    </div>
  </div>

  <div>
    <!--Contacto y ubicación-->
    <p class="subtitle">
      Información del sitio:
    </p>
    <div>
      <!--Números de contacto-->
      0261 325 6996
      0261 762 2354
    </div>
    <div>
      <!--Dirección-->
      Maracaibo, La paraguita II. Estado Zulia. Av 15 con calle 58.
    </div>
    <div style="width:40wv; height:30wv; background-color:#a2a2a2;">
      <!--Mapa de ubicación-->
    </div>
  </div>

  <div style="width:60vw; height:30vh; background-color:#717271;">
    <p class="title">
      Menú
    </p>
    <!--Menú de comida-->
  </div>

  <div style="width:40vw; height:30vh; background-color:#a1a1a1;">
    <p class="subtitle">
      Ofertas disponibles
    </p>
    <!--Ofertas disponibles(Galería)-->
  </div>

  <div style="width:60wv; height:30wv; background-color:#828282;">
    <p class="">
      Reseñas de usuarios
    </p>
    <!--Reseñas escritas por usuarios con respectiva puntuación de estrellas-->
  </div>
</div>



{% endblock content %}
