{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="user-banner gradient-img"><!--Foto de portada-->
  <img src="{% static 'images/examples/food.png' %}">
</div>
<div class="container user">
  <div class="row">
    <div class="col s12 m3">
      <div class="thumbnail-pic z-depth-2"><!--Foto de perfil-->
        <img src="{% static 'images/examples/food.png' %}" >
      </div>
    </div>
    <div class="col s12 m8">
      <h1 class="r-light big-title">
        <!--Full name del usuario-->
        Katherine Rangel
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col m3 s12 white z-depth-2">
      <p>
        <!--Introducción-->
        Me gusta la comida, los gatos y las estrellas. Lee mis reseñas y sígueme en mis otras redes ;)
      </p>
      <div>
        <!--otras redes del usuario-->
      </div>
      <div>
        <!--seguidos-->
        <a>Seguidores: 120 foodies</a>
      </div>
      <div>
        <!--seguidores-->
        <a>Siguiendo: 120 foodies</a>
      </div>
    </div>
    <div class="col s12 m9">
      <ul id="tabs" class="tabs">
        <li class="tab col s3"><a href="#test-swipe-1">Actividad</a></li>
        <li class="tab col s3"><a class="active" href="#test-swipe-2">Platos favoritos</a></li>
        <li class="tab col s3"><a href="#test-swipe-3">Reseñas</a></li>
      </ul>
      <div id="test-swipe-1" class="col s12 blue">Test 1</div>
      <div id="test-swipe-2" class="col s12 red">Test 2</div>
      <div id="test-swipe-3" class="col s12 green">Test 3</div>
    </div>
  </div>

  <div>
    <!--otras redes del usuario-->
  </div>




  <div>
    Menú frontal
    <p>
      Actividad
    </p>
    <!--Reseñas escritas-->
    <p>
      Reseñas escritas
    </p>
    <!--Restaurantes que me gustan-->
    <p>
      Restaurantes favoritos
    </p>
    <!--Platos favoritos-->
    <p>
      Platos preferidos
    </p>
  </div>

</div>


{% endblock content %}
